#hotkeys {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  justify-content: center;

  position: absolute;
  bottom: 90px;
  left: calc(50vw - 96px);
}

#hotkeys li {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid #F9F9F9;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
}

#hotkeys li div {
  position: relative;
}

#hotkeys li span {
  position: absolute;
  left: 2px;
  bottom: 2px;
  text-align: end;
  font-size: 0.8rem;
  font-weight: 600;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  color: #FFFFFF;
}

.menu {
  display: grid;
  margin-top: 10px;
  padding: 8px;
  grid-template-columns: 80px 1fr auto 1fr;
  gap: 20px;
  background:linear-gradient(#F2F2F2, #CCCCCC);
  align-items: center;
}

.level {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font: 500 1rem/1 'Inter';
  border-radius: 7px;
  color: orange;
  background: #000000;
  box-shadow: inset 0px 6px 10px rgba(255, 255, 255, 0.2);
}

.menu-personagem {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
  column-gap: 8px;
  row-gap: 4px;
  align-items: center;
}

.menu-personagem .titulo {
  font-weight: 700;
  text-shadow: -1px 0 darkslategrey, 0 1px darkslategrey, 1px 0 darkslategrey, 0 -1px darkslategrey;
  color: white;
}

.barrahp,
.barramana {
  font: 600 .75rem/1 'Courier';
  color: #FFFFFF;
  text-shadow: -1px 0 darkslategrey, 0 1px darkslategrey, 1px 0 darkslategrey, 0 -1px darkslategrey;
  letter-spacing: 1px;
  text-align: end;
  padding: 3px 8px;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;

  position: relative;
}

.barrahp::before,
.barramana::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0px 5px 5px rgba(255, 255, 255, 0.3);
}

.barrahp {
  background: #F32C64;
}

.barramana {
  background: #08B6DF;
}

.barraxp {
  margin-top: 2px;
  padding: 2px 0px;
  font: 400 .9rem/1 'Courier';
  text-align: center;
  color: #FFFFFF;
  text-shadow: -1px 0 darkslategrey, 0 1px darkslategrey, 1px 0 darkslategrey, 0 -1px darkslategrey;
  border-top: 1px solid rgba(0, 0, 0, .2);
  background: rgba(0, 0, 0, .7);
  position: relative;
}

.barraxp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0px 5px 5px rgba(255, 255, 255, 0.3);
}

.menu-hud {
  display: flex;
  gap: 12px;
}

.menu-hud > button {
  display: inline-block;
  padding: 8px;
  box-shadow: 0px 3px 0px #0364A1;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(#42C5F1, #0790D5);

  position: relative;
}

.menu-hud > button:hover::before {
  
  position: absolute;
  left: 0px;
  top: -30px;
  font-size: 1rem;
  padding: 4px 6px;
  border: 1px solid #000000;
  border-radius: 7px;
  color: #FFFFFF;
  background: darkslategray;
}

#buttonInventory:hover::before {
  content: "Inventário";
}

#buttonShop:hover::before {
  content: "Loja";
}

#buttonShortcuts:hover::before {
  content: "Atalhos";
}



@media(max-width: 720px) {

  .menu {
    grid-template-columns: 80px 1fr;
    margin-top: 12px;
    row-gap: 12px;
    padding: 12px;
  }

  .level {
    padding: 12px;
  }

  .menu-hud {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  .menu-hud > span {
    padding: 12px;
  }

  #hotkeys {
    grid-template-columns: 1fr;
    left: 10px;
    bottom: 160px;
  }

  #hotkeys li {
    height: 66px;
    width: 66px;
  }
}
