#inventory.desativado {
  display: none;
}

/* Ajusta o tamanho de todos os itens no inventario */
#inventory img {
  width: 32px;
}

/* Bordas pretas do inventario */
#inventory {
  position: absolute;
  top: 40px;
  left: 100px;
  padding: 4px 10px 20px 10px;
  border-radius: 7px;
  box-shadow: inset 0px 6px 6px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.7);
}

#inventory h1 {
  /* grid-column: 1/-1; */
  padding-top: 4px;
  padding-bottom: 4px;
  justify-self: center;
  text-align: center;
  font: 600 .75rem/1 'Courier';
  color: #F2DA3A;
}

/* Botão de fechar o inventario */
#inventory .fechar-inventario {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

/* Container do inventario - Parte branca */
#inventory .container {
  margin: auto;

  border-radius: 7px;
  background: #EEEEEE;
  padding: 12px;

  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 12px;
  column-gap: 20px;
}

/* Equipamentos do player */
#inventory .equip {
  display: grid;
  grid-template-rows: repeat(5, 44px);
  gap: 20px;
  font: 600 .65rem/1 'Courier';
}

#inventory .equip li {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  box-shadow: inset 2px 2px 2px #888888;
  display: flex; /* Por algum motivo essa propriedade permite alinhar a imagem no centro da li */
  position: relative;
  background: linear-gradient(#aaaaaa, #d6d6d6);;
}

#defense-helmet-equip:before,
#defense-armor-equip:before,
#defense-pants-equip:before,
#defense-boots-equip:before,
#weapon-weapon-equip:before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  filter: grayscale(100%);
  opacity: 0.2;
}

#defense-helmet-equip:before {
  background: url('../img/itens/defenses/arcaneumbraknighthat.png') no-repeat center/32px;
}

#defense-armor-equip:before {
  background: url('../img/itens/defenses/arcaneumbraknightsuit.png') no-repeat center/32px;
}

#defense-pants-equip:before {
  background: url('../img/itens/defenses/blackneopants.png') no-repeat center/32px;
}

#defense-boots-equip:before {
  background: url('../img/itens/defenses/arcaneumbraknightshoes.png') no-repeat center/32px;
}

#weapon-weapon-equip:before {
  background: url('../img/itens/weapons/arcaneumbra.png') no-repeat center/32px;
}

/* Bau de itens do player */
#bag {
  display: grid;
  grid-template-columns: repeat(5, 44px);
  grid-auto-rows: 44px;
  gap: 4px;
}

#bag li { 
  display: flex; /* Por algum motivo essa propriedade permite alinhar a imagem no centro da li */
  box-shadow: inset 0px 6px 8px #CCCCCC, 
              inset 1px 1px #888888;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bag li div {
  position: relative;
}

#bag li span {
  position: absolute;
  bottom: 0px;
  text-align: end;
  font-size: 0.8rem;
  font-weight: 600;
  text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
  color: #FFFFFF;
}


@media(max-width: 720px) {
  #inventory {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}