#inventory.desativado {
  display: none;
}

/* Ajusta o tamanho de todos os itens no inventario */
#inventory img {
  width: 32px;
  margin: auto;
  z-index: 2;
}

/* Bordas pretas do inventario */
#inventory {
  position: absolute;
  top: 40px;
  left: 100px;
  padding: 4px 10px 20px 10px;
  border-radius: 7px;
  box-shadow: inset 0px 6px 6px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.7);
}

#inventory h1 {
  grid-column: 1/-1;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-self: center;
  text-align: center;
  font: 600 .75rem/1 'Courier';
  color: #F2DA3A;
}

/* Botão de fechar o inventario */
#inventory .fechar-inventario {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

/* Container do inventario - Parte branca */
#inventory .container {
  margin: auto;

  border-radius: 7px;
  background: #EEEEEE;
  padding: 12px;

  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 12px;
  column-gap: 20px;
}

/* Equipamentos do player */
#inventory .equip {
  display: grid;
  grid-template-rows: repeat(5, 44px);
  gap: 20px;
  font: 600 .65rem/1 'Courier';
}

#inventory .equip li {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  color: #e7e7e7;
  box-shadow: inset 2px 2px 2px #888888;
  background: linear-gradient(#aaaaaa, #d6d6d6);
  display: flex; /* Por algum motivo essa propriedade permite alinhar a imagem no centro da li */
  position: relative;
}

#inventory .equip li > span {
  position: absolute;
  top: 2px;
  left: 5px;
}

/* Bau de itens do player */
#inventory .itens {
  display: grid;
  grid-template-columns: repeat(5, 44px);
  grid-auto-rows: 44px;
  gap: 4px;
}

#inventory .itens li { 
  display: flex; /* Por algum motivo essa propriedade permite alinhar a imagem no centro da li */
  box-shadow: inset 0px 6px 8px #CCCCCC, 
              inset 1px 1px #888888;
}

/* Indicador do dinheiro do player */
#inventory .meso {
  grid-column: -1/1;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

#inventory .meso span:first-child {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px;

  font: 600 .75rem/1 'Courier';
  text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
  color: #FFFFFF;

  border-radius: 7px;
  border: 1px solid #666666;
  
  background: linear-gradient(#BBBBBB, #666666);
}

#inventory .meso span:first-child img {
  width: 18px;
  height: 18px;
}

#inventory .meso span:last-child {
  width: 128px;
  height: 14px;
  padding: 4px;
  font: 600 .8rem/1 'Inter';
  text-align: end;
  border-radius: 3px;
  box-shadow: inset 1px 0px #666666, inset 0px 1px #666666;
  background: #FFFFFF;
}
