#shop.desativado {
  display: none;
}

#shop {
  position: absolute;
  top: 40px;
  left: 100px;
  padding: 4px 10px 20px 10px;
  border-radius: 7px;
  box-shadow: inset 0px 6px 6px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.7);
}

#shop img {
  width: 32px;
  margin: auto;
  z-index: 2;
}

#shop h1 {
  grid-column: 1/-1;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-self: center;
  text-align: center;
  font: 600 .75rem/1 'Courier';
  color: #F2DA3A;
}

/* Botão de fechar o inventario */
#shop .fechar-shop {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

#shop .voltar-shop {
  display: none;
}

#shop .voltar-shop.ativado {
  display: initial;
  position: absolute;
  width: 12px;
  height: 12px;
  right: 30px;
  top: 6px;
  cursor: pointer;
}

#shop .container {
  margin: auto;

  border-radius: 7px;
  background: #EEEEEE;
  padding: 12px;
}

.menu-shop.desativado {
  display: none;
}

.menu-shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  text-align: center;
}

.menu-shop div {
  position: relative;
  filter: grayscale(100%);
}

.menu-shop div:hover {
  filter: none;
}

.menu-shop img {
  width: 100px !important;
  border-radius: 7px;
}

.menu-shop div h2 {
  font-size: 1.45rem;
  color: #FFFFFF;
  text-shadow: -2px 0 darkslategrey, 0 2px darkslategrey, 2px 0 darkslategrey, 0 -2px darkslategrey;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-shop.desativado {
    display: none;
}

.item-shop {
  display: grid;
  gap: 4px;
}

.itens-shop-exibir {
  display: grid;
  grid-template-rows: repeat(auto-fill, 44px);
  gap: 4px;
  padding-right: 10px;
  height: 270px;
  overflow-y: scroll;
}

.itens-shop-exibir li {
  display: grid;
  grid-template-columns: 44px 200px;
}

.itens-shop-exibir div {
  grid-row: span 2;
  display: flex; /* Por algum motivo essa propriedade permite alinhar a imagem no centro da li */
  box-shadow: inset 0px 6px 8px #CCCCCC;
}

.itens-shop-exibir div + span {
  border-bottom: 1px dotted #868583;
}

.itens-shop-exibir li span {
  align-self: center;
  background: #CCCCCC;
  padding-top: 4.60px;
  padding-bottom: 4.60px;
  padding-left: 4px;
  font: 400 .7rem/1 'Inter';
}

.item-shop-descricao {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
  padding: 4px 0px 4px 10px;
  border-radius: 0px 0px 7px 7px;
  font-size: .8rem;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 1px 4px rgba(255, 255, 255, 0.5);
}

.item-shop-descricao img {
  grid-area: 1 / 1 / 5 
}

.item-shop-descricao span:first-child {
  font-weight: 600;
  color: orange;
}

@media(max-width: 720px) {

  #shop {
      width: 360px;
      left: 50%; 
      transform: translateX(-50%);
    }
  }

@media(max-width: 375px) {

  #shop {
      width: 340px;
      left: 50%; 
      transform: translateX(-50%);
    }
  }

  @media(max-width: 320px) {

    #shop {
        width: 290px;
        left: 50%; 
        transform: translateX(-50%);
      }
    }






