body {
  margin: 0 auto;
  font-family: 'Inter';
  max-width: 1920px;
}

.bg {
  margin: 0 auto;
  background: url('img/mapa/stage1.jpg') center no-repeat;
  height: 400px;

  display: grid;
  grid-template-rows: auto 1fr;
}

h1, h2, h3, p, ul, li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  
}

.dados-personagem {
 padding-top: 10px;
 padding-left: 10px;
}

.barrahp {
  width: 200px;
  height: 20px;
  border: 1px solid grey;
  border-radius: 7px;
  background: tomato;
}

.level {
  display: inline-block;
  margin-top: 4px;
  gap: 10px;
  font: 500 .875rem/1 'Inter';
}

.display {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-size: 800px;
}

.display-seta {
  align-self: center;
  cursor: pointer;
}

.display-seta:first-child {
  padding-left: 8px;
}

.display-seta:last-child {
  padding-right: 8px;
}

.monstro {
  display: grid;
  justify-items: center;
  align-self: end;
}

.hpMonstro {
  margin-bottom: 20px;

  display: inline-block;
  background: linear-gradient(#00d401 50%, #520c08);
  width: 100px;
  height: 10px;
  position: relative;
  border: 2px solid white;
  border-radius: 3px;

  position: relative;
}

.nomeMonstro {
  margin-top: 10px;
  padding: 2px 10px;
  color: yellow;
  background: rgba(0, 0, 0, 0.6);
  font-size: .875rem;
  font-weight: 300;
}

.barraxp {
  margin-top: 4px;
  height: 4px;
  border-top: 1px solid lightgrey;
}


