body {
  margin: 0 auto;
  padding: 10px 20px; 
  font-family: 'Inter';
  display: grid;
}

h1, h2, h3, p, ul, li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.barrahp {
  width: 200px;
  height: 20px;
  background: tomato;
  border: 1px solid grey;
}

.level {
  display: block;
  margin-top: 4px;
  gap: 10px;
  font: 400 1rem/1 'Inter';
}

.monstro {
  display: grid;
  grid-template-rows: auto 100px;
  justify-items: center;
  margin-top: 40px;
}

.monstro img {
  align-self: end;
}

.monstroMudar {
  display: inline-block;
  justify-self: center;
  margin-top: 10px;
  cursor: pointer;
}

.nomeMonstro {
  font-size: .875rem;
  margin-bottom: 10px;
}

.monstro-container img {
  align-self: end;
}

.monstroMudar span {
  margin-top: 100px;

  display: inline-block;
  border: 1px solid #000000;
  padding: 4px 20px;
}

.monstroMudar span:hover {
  font-weight: 600;
}

.monstrolista-container {
  
  overflow-x: scroll;
}

.monstrolista {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.monstrolista li {
  height: 50px;
  width: 50px;
  /* flex: 1 0 auto; */

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;

  border-radius: 7px;
  border: 1px solid #000000;

  color: yellow;
  background: royalblue;

  cursor: pointer;
}

.barraxp {
  margin-top: 8px;

  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

@media(max-width: 425px) {
  
  .monstrolista li {
    flex: 1 0 auto;
  }
}

