body {
  margin: 0 auto;
  padding: 10px 20px; 
  font-family: 'Inter';
  display: grid;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.barrahp {
  width: 200px;
  height: 20px;
  border: 1px solid grey;
}



.level {
  display: block;
  margin-top: 4px;
  gap: 10px;
  font: 400 1rem/1 'Inter';
}

.monstro {
  justify-self: center;
  margin-top: 40px;
}


.monstroMudar {
  justify-self: center;
  margin-top: 10px;
  cursor: pointer;
}

.monstroMudar span:hover {
  font-weight: 600;
}

.barraxp {
  margin-top: 100px;

  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

